###############
#    folder   #
###############
*~
bin/
target/
.settings

###############
#  fixed file #
###############
*.sw?
.project
.classpath
*.class

################
# Package Files#
################
*.war
*.ear
